.main {
    flex: 1;
    background-color: var(--background-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    color: white;
    margin: 5px;
}

.editButton {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.editInputs,
.editButtons {
    display: flex;
    justify-content: center;
    border: 1px;
    gap: 1rem;
    margin: 1rem 0;
}

.editButtons button {
    width: 85px;
}